In [1]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
warnings.filterwarnings("ignore")
from matplotlib import pyplot as plt

In [2]:
df=pd.read_csv("exploratory_data.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152.0,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi,gas,std,four,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi,gas,std,four,sedan,4wd,front,99.4,...,136.0,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
# checking for feature values distribution and their value counts
cat_col = df.dtypes[df.dtypes==object].index

for col in cat_col:
    print(df[col].value_counts())
    print("==================================")

toyota         32
nissan         18
mazda          15
mitsubishi     13
honda          13
volkswagen     12
subaru         12
peugeot        11
volvo          10
dodge           9
buick           8
bmw             8
plymouth        7
audi            6
saab            6
porsche         5
isuzu           4
jaguar          3
chevrolet       3
alfa-romero     3
renault         2
mercury         1
Name: CarName, dtype: int64
==================================
gas       182
diesel     19
Name: fueltype, dtype: int64
==================================
std      165
turbo     36
Name: aspiration, dtype: int64
==================================
four    113
two      88
Name: doornumber, dtype: int64
==================================
sedan          95
hatchback      68
wagon          24
hardtop         8
convertible     6
Name: carbody, dtype: int64
==================================
fwd    117
rwd     75
4wd      9
Name: drivewheel, dtype: int64
==================================
front    198
rear       3
Name: enginelocation, dtype: int64
==================================
ohc      144
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64
==================================
four      157
six        23
five       10
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64
==================================
mpfi    93
2bbl    64
idi     19
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64
==================================

In [4]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152.0,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi,gas,std,four,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi,gas,std,four,sedan,4wd,front,99.4,...,136.0,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [5]:
CarName_price = df.groupby("CarName")["price"].mean()
CarName_price["audi"]

17682.361166666666

In [6]:
df["Avg_price"] =np.where(df["CarName"], CarName_price[df['CarName']], "NA")
df['Avg_price'] = df['Avg_price'].astype('float')

conditions = [(df['Avg_price'] > 20000),(df['Avg_price'] >10000),(df['Avg_price'] > 0)]
choices = ['High', 'Medium', 'Budget']


df['Avg_price_categorical'] = np.select(conditions, choices)

In [7]:
df.drop(['CarName'], axis=1,inplace=True)
df.drop(['Avg_price'], axis=1,inplace=True)
#df.drop(['price'], axis=1,inplace=True)

In [8]:
df.head()

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,Avg_price_categorical
0,1,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,Medium
1,2,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,Medium
2,3,1,gas,std,two,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,Medium
3,4,2,gas,std,four,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,Medium
4,5,2,gas,std,four,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,Medium

In [9]:
df.doornumber.replace({"two":2,"four":4},inplace=True)

In [10]:
# will removes rows which contains either hardtop or convertible or both as a carbody.
df = df[df["carbody"].str.contains("hardtop|convertible")  == False]

# will removes rows which contains 4wd as a drivewheel value
df = df[df["drivewheel"].str.contains("4wd")  == False]


# will removes rows which contains ohcf|rotor|dohcv as a enginetype value
df = df[df["enginetype"].str.contains("ohcf|rotor|dohcv")  == False]

# will removes rows which contains mfi|spfias a fuelsystem value
df = df[df["fuelsystem"].str.contains("mfi|spfi")  == False]

#### one hot encoding 

on features aspiration, doornumber, carbody,cylindernumber and drivewheel

In [11]:
dummies = pd.get_dummies(df[['fueltype', 'aspiration','carbody','cylindernumber','drivewheel','enginetype','fuelsystem','Avg_price_categorical']], drop_first=True)
dummies.head()

,fueltype_gas,aspiration_turbo,carbody_sedan,carbody_wagon,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,drivewheel_rwd,enginetype_l,enginetype_ohc,enginetype_ohcv,fuelsystem_2bbl,fuelsystem_idi,fuelsystem_mpfi,fuelsystem_spdi,Avg_price_categorical_High,Avg_price_categorical_Medium
2,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1
3,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1
5,1,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1
6,1,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1
7,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1

In [12]:
df= pd.concat([df.drop(['fueltype', 'aspiration','carbody','cylindernumber','drivewheel','enginetype','fuelsystem','Avg_price_categorical'],axis=1), dummies],axis=1)
df.head()

,car_ID,symboling,doornumber,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,...,drivewheel_rwd,enginetype_l,enginetype_ohc,enginetype_ohcv,fuelsystem_2bbl,fuelsystem_idi,fuelsystem_mpfi,fuelsystem_spdi,Avg_price_categorical_High,Avg_price_categorical_Medium
2,3,1,2,front,94.5,171.2,65.5,52.4,2823,152.0,...,1,0,0,1,0,0,1,0,0,1
3,4,2,4,front,99.8,176.6,66.2,54.3,2337,109.0,...,0,0,1,0,0,0,1,0,0,1
5,6,2,2,front,99.8,177.3,66.3,53.1,2507,136.0,...,0,0,1,0,0,0,1,0,0,1
6,7,1,4,front,105.8,192.7,71.4,55.7,2844,136.0,...,0,0,1,0,0,0,1,0,0,1
7,9,1,4,front,105.8,192.7,71.4,55.9,3086,131.0,...,0,0,1,0,0,0,1,0,0,1

In [13]:
df.drop(['enginelocation'], axis=1,inplace=True)

In [14]:
#### Create A New Column combining highwaympg and citympg
df["mpg"] = (df["citympg"]+df["highwaympg"])/2

In [15]:
df.drop(["citympg"],axis=1,inplace=True)
df.drop(["highwaympg"],axis=1,inplace=True)

In [16]:
for i in df.columns:
    print(type(df[i].max()))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'float'>

In [17]:
df.columns

Index(['car_ID', 'symboling', 'doornumber', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginesize', 'boreratio',
       'stroke', 'compressionratio', 'horsepower', 'peakrpm', 'price',
       'fueltype_gas', 'aspiration_turbo', 'carbody_sedan', 'carbody_wagon',
       'cylindernumber_five', 'cylindernumber_four', 'cylindernumber_six',
       'cylindernumber_three', 'cylindernumber_twelve', 'drivewheel_rwd',
       'enginetype_l', 'enginetype_ohc', 'enginetype_ohcv', 'fuelsystem_2bbl',
       'fuelsystem_idi', 'fuelsystem_mpfi', 'fuelsystem_spdi',
       'Avg_price_categorical_High', 'Avg_price_categorical_Medium', 'mpg'],
      dtype='object')

In [18]:
x_data = df[['car_ID', 'symboling', 'doornumber', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginesize', 'boreratio',
       'stroke', 'compressionratio', 'horsepower', 'peakrpm',
       'fueltype_gas', 'aspiration_turbo', 'carbody_sedan', 'carbody_wagon',
       'cylindernumber_five', 'cylindernumber_four', 'cylindernumber_six',
       'cylindernumber_three', 'cylindernumber_twelve', 'drivewheel_rwd',
       'enginetype_l', 'enginetype_ohc', 'enginetype_ohcv', 'fuelsystem_2bbl',
       'fuelsystem_idi', 'fuelsystem_mpfi', 'fuelsystem_spdi',
       'Avg_price_categorical_High', 'Avg_price_categorical_Medium', 'mpg']]

In [19]:
y_data = df['price']

In [20]:
x_data.to_csv("x_data.csv",index=False)

In [21]:
y_data.to_csv("y_data.csv",index=False)