In [1]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
warnings.filterwarnings("ignore")
from matplotlib import pyplot as plt

In [2]:
df=pd.read_csv("exploratory_data.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152.0,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi,gas,std,four,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi,gas,std,four,sedan,4wd,front,99.4,...,136.0,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
# checking for feature values distribution and their value counts
cat_col = df.dtypes[df.dtypes==object].index

for col in cat_col:
    print(df[col].value_counts())
    print("==================================")

toyota         32
nissan         18
mazda          15
mitsubishi     13
honda          13
volkswagen     12
subaru         12
peugeot        11
volvo          10
dodge           9
buick           8
bmw             8
plymouth        7
audi            6
saab            6
porsche         5
isuzu           4
jaguar          3
chevrolet       3
alfa-romero     3
renault         2
mercury         1
Name: CarName, dtype: int64
==================================
gas       182
diesel     19
Name: fueltype, dtype: int64
==================================
std      165
turbo     36
Name: aspiration, dtype: int64
==================================
four    113
two      88
Name: doornumber, dtype: int64
==================================
sedan          95
hatchback      68
wagon          24
hardtop         8
convertible     6
Name: carbody, dtype: int64
==================================
fwd    117
rwd     75
4wd      9
Name: drivewheel, dtype: int64
==================================
front    198
rear       3
Name: enginelocation, dtype: int64
==================================
ohc      144
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64
==================================
four      157
six        23
five       10
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64
==================================
mpfi    93
2bbl    64
idi     19
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64
==================================

In [4]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152.0,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi,gas,std,four,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi,gas,std,four,sedan,4wd,front,99.4,...,136.0,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [5]:
CarName_price = df.groupby("CarName")["price"].mean()
CarName_price["audi"]

17682.361166666666

In [6]:
df["Avg_price"] =np.where(df["CarName"], CarName_price[df['CarName']], "NA")
df['Avg_price'] = df['Avg_price'].astype('float')

conditions = [(df['Avg_price'] > 20000),(df['Avg_price'] >10000),(df['Avg_price'] > 0)]
choices = ['High', 'Medium', 'Budget']


df['Avg_price_categorical'] = np.select(conditions, choices)

In [7]:
df.drop(['Avg_price'], axis=1,inplace=True)

In [8]:
df.head(15)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,Avg_price_categorical
0,1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.000,Medium
1,2,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.000,Medium
2,3,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.000,Medium
3,4,2,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.000,Medium
4,5,2,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.000,Medium
5,6,2,audi,gas,std,two,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.000,Medium
6,7,1,audi,gas,std,four,sedan,fwd,front,105.8,...,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.000,Medium
7,9,1,audi,gas,turbo,four,sedan,fwd,front,105.8,...,mpfi,3.13,3.40,8.3,140,5500,17,20,23875.000,Medium
8,10,0,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,mpfi,3.13,3.40,7.0,160,5500,16,22,17859.167,Medium
9,11,2,bmw,gas,std,two,sedan,rwd,front,101.2,...,mpfi,3.50,2.80,8.8,101,5800,23,29,16430.000,High
10,12,0,bmw,gas,std,four,sedan,rwd,front,101.2,...,mpfi,3.50,2.80,8.8,101,5800,23,29,16925.000,High
11,13,0,bmw,gas,std,two,sedan,rwd,front,101.2,...,mpfi,3.31,3.19,9.0,121,4250,21,28,20970.000,High
12,14,0,bmw,gas,std,four,sedan,rwd,front,101.2,...,mpfi,3.31,3.19,9.0,121,4250,21,28,21105.000,High
13,15,1,bmw,gas,std,four,sedan,rwd,front,103.5,...,mpfi,3.31,3.19,9.0,121,4250,20,25,24565.000,High
14,16,0,bmw,gas,std,four,sedan,rwd,front,103.5,...,mpfi,3.62,3.39,8.0,182,5400,16,22,30760.000,High

In [9]:
df.drop(['symboling'], axis=1,inplace=True)

In [10]:
df.drop(['enginelocation'], axis=1,inplace=True)

In [11]:
#### Create A New Column combining highwaympg and citympg
df["mpg"] = (df["citympg"]+df["highwaympg"])/2

In [12]:
df.drop(["citympg"],axis=1,inplace=True)
df.drop(["highwaympg"],axis=1,inplace=True)

In [13]:
df.columns

Index(['car_ID', 'CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'enginetype', 'cylindernumber', 'enginesize',
       'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'horsepower',
       'peakrpm', 'price', 'Avg_price_categorical', 'mpg'],
      dtype='object')

In [14]:
df.head()

,car_ID,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,price,Avg_price_categorical,mpg
0,1,alfa-romero,gas,std,two,convertible,rwd,88.6,168.8,64.1,...,130.0,mpfi,3.47,2.68,9.0,111,5000,13495.0,Medium,24.0
1,2,alfa-romero,gas,std,two,convertible,rwd,88.6,168.8,64.1,...,130.0,mpfi,3.47,2.68,9.0,111,5000,16500.0,Medium,24.0
2,3,alfa-romero,gas,std,two,hatchback,rwd,94.5,171.2,65.5,...,152.0,mpfi,2.68,3.47,9.0,154,5000,16500.0,Medium,22.5
3,4,audi,gas,std,four,sedan,fwd,99.8,176.6,66.2,...,109.0,mpfi,3.19,3.40,10.0,102,5500,13950.0,Medium,27.0
4,5,audi,gas,std,four,sedan,4wd,99.4,176.6,66.4,...,136.0,mpfi,3.19,3.40,8.0,115,5500,17450.0,Medium,20.0

In [15]:
print('unique',df.CarName.unique())
print('no.',df.CarName.nunique())

unique ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'buick' 'mercury' 'mitsubishi' 'nissan' 'peugeot' 'plymouth'
 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen' 'volvo']
no. 22

In [16]:
def replace_values(a,b):
    df.CarName.replace(a,b,inplace=True)

replace_values('chevrolet','Low_End')
replace_values('dodge','Low_End')
replace_values('plymouth','Low_End')
replace_values('honda','Low_End')
replace_values('subaru','Low_End')
replace_values('isuzu','Low_End')
replace_values('mitsubishi','Budget')
replace_values('renault','Budget')
replace_values('toyota','Budget')
replace_values('volkswagen','Budget')
replace_values('nissan','Budget')
replace_values('mazda','Budget')
replace_values('saab','Medium')
replace_values('peugeot','Medium')
replace_values('alfa-romero','Medium')
replace_values('mercury','Medium')
replace_values('audi','Medium')
replace_values('volvo','Medium')
replace_values('bmw','High_End')
replace_values('porsche','High_End')
replace_values('buick','High_End')
replace_values('jaguar','High_End')

In [17]:
df.head()

,car_ID,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,price,Avg_price_categorical,mpg
0,1,Medium,gas,std,two,convertible,rwd,88.6,168.8,64.1,...,130.0,mpfi,3.47,2.68,9.0,111,5000,13495.0,Medium,24.0
1,2,Medium,gas,std,two,convertible,rwd,88.6,168.8,64.1,...,130.0,mpfi,3.47,2.68,9.0,111,5000,16500.0,Medium,24.0
2,3,Medium,gas,std,two,hatchback,rwd,94.5,171.2,65.5,...,152.0,mpfi,2.68,3.47,9.0,154,5000,16500.0,Medium,22.5
3,4,Medium,gas,std,four,sedan,fwd,99.8,176.6,66.2,...,109.0,mpfi,3.19,3.40,10.0,102,5500,13950.0,Medium,27.0
4,5,Medium,gas,std,four,sedan,4wd,99.4,176.6,66.4,...,136.0,mpfi,3.19,3.40,8.0,115,5500,17450.0,Medium,20.0

In [18]:
dummies = pd.get_dummies(df[['CarName','fueltype','doornumber', 'aspiration','carbody','cylindernumber','drivewheel','enginetype','fuelsystem','Avg_price_categorical']], drop_first=True)
dummies.head()

,CarName_High_End,CarName_Low_End,CarName_Medium,fueltype_gas,doornumber_two,aspiration_turbo,carbody_hardtop,carbody_hatchback,carbody_sedan,carbody_wagon,...,enginetype_rotor,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi,Avg_price_categorical_High,Avg_price_categorical_Medium
0,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,0,0,1,1,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
3,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
4,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1

In [19]:
df= pd.concat([df.drop(['CarName','doornumber','fueltype', 'aspiration','carbody','cylindernumber','drivewheel','enginetype','fuelsystem','Avg_price_categorical'],axis=1), dummies],axis=1)
df.head()

,car_ID,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,...,enginetype_rotor,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi,Avg_price_categorical_High,Avg_price_categorical_Medium
0,1,88.6,168.8,64.1,48.8,2548,130.0,3.47,2.68,9.0,...,0,0,0,0,0,1,0,0,0,1
1,2,88.6,168.8,64.1,48.8,2548,130.0,3.47,2.68,9.0,...,0,0,0,0,0,1,0,0,0,1
2,3,94.5,171.2,65.5,52.4,2823,152.0,2.68,3.47,9.0,...,0,0,0,0,0,1,0,0,0,1
3,4,99.8,176.6,66.2,54.3,2337,109.0,3.19,3.40,10.0,...,0,0,0,0,0,1,0,0,0,1
4,5,99.4,176.6,66.4,54.3,2824,136.0,3.19,3.40,8.0,...,0,0,0,0,0,1,0,0,0,1

In [20]:
X=df.drop(['price'],axis='columns')
X.head(3)

,car_ID,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,...,enginetype_rotor,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi,Avg_price_categorical_High,Avg_price_categorical_Medium
0,1,88.6,168.8,64.1,48.8,2548,130.0,3.47,2.68,9.0,...,0,0,0,0,0,1,0,0,0,1
1,2,88.6,168.8,64.1,48.8,2548,130.0,3.47,2.68,9.0,...,0,0,0,0,0,1,0,0,0,1
2,3,94.5,171.2,65.5,52.4,2823,152.0,2.68,3.47,9.0,...,0,0,0,0,0,1,0,0,0,1

In [21]:
X.shape

(201, 46)

In [22]:
y = df.price
y.head(3)

0    13495.0
1    16500.0
2    16500.0
Name: price, dtype: float64

In [23]:
len(y)

201

### Model Building

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [25]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.8688759766993231

### Use K Fold cross validation to measure accuracy of our LinearRegression model

In [26]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.94072352, 0.92125676, 0.80840289, 0.88201726, 0.92317739])

#### We can see that in 5 iterations we get a score above 80% all the time. This is pretty good but we want to test few other algorithms for regression to see if we can get even better score. We will use GridSearchCV for this purpose

### Find best model using GridSearchCV

In [27]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'normalize': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

,model,best_score,best_params
0,linear_regression,0.895116,{'normalize': False}
1,lasso,0.894457,"{'alpha': 1, 'selection': 'random'}"
2,decision_tree,0.900005,"{'criterion': 'friedman_mse', 'splitter': 'best'}"

#### Based on above results we can say that LinearRegression gives the best score. Hence we will use that